/* Header styling */
.header {
  padding: 0.6rem 3rem;
}

.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #232832;
}

.nav-brand > a {
  font-family: "Baloo 2", cursive;
  font-size: 2.5rem;
  font-weight: 600;
}

.hl-text {
  color: #5a46e5;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links > a {
  padding: 12px 1rem;
  transition: all 0.4s ease-in-out;
}

.nav-links > .active {
  color: #fefeff;
  background-color: #5a46e5;
  border-radius: 5px;
}

/* Links active styling */
.nav-links > a:active {
  background-color: #3d25db;
  color: #fefeff;
}

.btn-header {
  padding: 12px 1.5rem;
}

/* Media queries */
@media only screen and (min-width: 300px) and (max-width: 668px) {
  .header {
    padding: 14px 10px;
  }

  .header > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-brand > a {
    font-size: 1rem;
  }

  .nav-links {
    gap: 0;
  }

  .nav-links > a {
    padding: 12px 10px;
    font-size: 10px;
  }
  .btn-header {
    font-size: 10px;
    padding: 10px 1rem;
  }
}
