/* Importance area styling */
.importance {
  margin: 6rem 0;
  padding: 0 4rem;
}

.importance > h1 {
  margin: 4rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.importance > .about-content > img {
  width: 50%;
}

.importance > .about-content > p {
  color: #232832;
  line-height: 2;
  font-weight: 600;
  font-size: 1.3rem;
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 668px) {
  .importance {
    padding: 0 10px;
  }
  .importance > h1 {
    font-size: 1.7rem;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .importance > .about-content > img {
    width: 100%;
  }

  .importance > .about-content > p {
    text-align: justify;
    padding: 0 12px;
  }
}
