/* Footer section styling */
.footer {
  background-color: #232832;
  color: #fefeff;
  padding: 3rem 6rem;
}

/* Quick Links styling */
.quick-links {
  display: flex;
  justify-content: space-between;
}

.quick-links > section > p {
  font-size: 1.5rem;
}

.quick-links > section > .social-links > ul > li > a {
  color: #fefeff;
}

.quick-links > section:nth-child(2) {
  display: flex;
  justify-content: center;
}

.quick-links > section > ul > li {
  margin-bottom: 1rem;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

/* Social Links styling */
.social-links {
  text-align: center;
}

.social-links > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Terms and condition area styling */
.terms-area {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.terms-area > section > small {
  color: gray;
  font-size: 12px;
  font-weight: 500;
}

.terms-area > section > span {
  font-weight: 500;
  font-size: 14px;
  margin-right: 3rem;
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 668px) {
  .footer {
    padding: 3rem 10px;
  }

  .quick-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quick-links > section > p {
    font-size: 1rem;
  }

  .quick-links > section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
  }

  .quick-links > section > ul > li {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
  }

  .terms-area {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }

  .terms-condition {
    display: flex;
    flex-direction: column;
  }

  .terms-area > section > span {
    margin: 0;
    padding: 1rem;
  }
}
