.specialists {
  margin: 4rem 0;
  padding: 0 4rem;
}

.specialists > h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #5a46e5;
}

@media only screen and (min-width: 300px) and (max-width: 668px) {
  .specialists {
    padding: 0 1rem;
  }

  .specialists > h1 {
    font-size: 2rem;
  }
}
